<style>
    @import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
</style>

<table id="table_of_tasks" class="border-collapse w-full">
    <thead>
    <tr>
        <th class="p-3 font-bold uppercase text-white bg-green-500 border border-gray-300 hidden lg:table-cell">Name of task</th>
        <th class="p-3 font-bold uppercase text-white bg-green-500 border border-gray-300 hidden lg:table-cell">Category</th>
     </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
            <span class="lg:hidden absolute top-0 left-0 text-white bg-green-500 px-2 py-1 text-xs font-bold uppercase">Name of task</span>
            {{task.name}}
        </td>
        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
            <span class="lg:hidden absolute top-0 left-0 text-white bg-green-500 px-2 py-1 text-xs font-bold uppercase">Category</span>
            {{task.category}}
        </td>
    </tr>
    </tbody>
    {%endfor%}
</table>
